@if (titles || verse) {
  <div class="content description mat-elevation-z2">
    @if (titles) {
      <div class="textrow titlerow">
        @switch (headingLevel) {
          @case (1) {
            @if (titles.ar) {
              <h1 class="arabic" lang="ar" [innerHTML]="titles.ar"></h1>
            }
            @if (titles.en) {
              <h1 [innerHTML]="titles.en"></h1>
            }
          }
          @case (2) {
            @if (titles.ar) {
              <h2 class="arabic" lang="ar" [innerHTML]="titles.ar"></h2>
            }
            @if (titles.en) {
              <h2 [innerHTML]="titles.en"></h2>
            }
          }
        }
      </div>
    }
    @if (author?.en) {
      <div class="author-line">
        <span class="author-en">{{ author.en }}</span>
        @if (author.ar) {
          <span class="author-ar arabic" lang="ar"> - {{ author.ar }}</span>
        }
      </div>
    }
    @if (verse) {
      <div>
        <app-verse-text [verse]="verse"></app-verse-text>
      </div>
    }
    @if (descriptions) {
      <p [innerHTML]="descriptions.en"></p>
    }
  </div>
}
