<div class="content mat-elevation-z8">
<h1>About Project Thaqalayn</h1>
<h2>Objectives</h2>
<ol>
  <li>Proliferation of ahadith of ahlulbayt online</li>
  <li>Act as a data source: making hadith datasets open source and available to download for others to build on top of</li>
  <li>Act as a reference: every hadith should have a unique link that can be shared and will bring others to the same hadith</li>
  <li>Act as an aggregation portal for all relevant data that becomes available</li>
</ol>

<h2>Technical Design Principles</h2>
<p>There are a few principles that the site is developed on:</p>
<ul>
  <li>All static data used to show a single page should be captured in a single data (json) file</li>
  <li>Any static data should be reproducible from scratch - No ad-hoc edits to data files, everything should be scripted</li>
</ul>

<h2>History</h2>
<p>Ideas of creating such a site on Quran and ahadith had been on my mind for at least a decade,<br>
  and in this time I've tried several times to produce something around this concept but to no avail.
</p>
<p>In recent years Ive come to realise the shortage of free English ahadith resources online.</p>
<p>COVID-19 provided an unprecedented opportunity of extra time and energy to be allocated to this project <br>
and alhamdullellah the project was kicked off.</p>

<h2>Inspirations</h2>
<p>There are many things that shaped the project to get it to be where it is now, here are some:</p>
<h3><a href="http://tanzil.net" target="_blank">Tanzil.net</a></h3>
<p>There is not enough good things I can say about tanzil.net
I think they've done an excellent job over the years to be a great resource for Quran text on the net.</p>
<p>The thing that most inspires me about this site is that they provide Quran text for download, <br>
  which is obviously a great resouce that provides a foundation for developers like myself to build upon.</p>
<div class="infobox">Making the data behind the site freely accessible to all</div>

<h3><a href="https://sunnah.com" target="_blank">Sunnah.com</a></h3>
<p>MashaAllah our Sunni brothers are way ahead in propagating their ahadith and making them more accessible. <br>
I was impressed by the simplicity and accessibility of the design and based the look and feel of the project on this site to get started.</p>
<p>One of the barriers of building a site for me has always been the design, <br>
  so having seen a suitable template certainly removed the barrier for me to start.</p>
<div class="infobox">Creating an easy navigable site for reading ahadith</div>

<h3>Not being able to find a free host for my API</h3>
<p>So when I started out the backend of the site was actually a REST API. <br>
I started using by using the free tier services by Heroku, which is really good btw. <br>
But I quickly learnt that I couldn't find a free hosted database service online and the free ones came with very limited restrictions. <br>
So this led me to re-evaluate the architecture of the site, and the result was serving static <br>
 json files which is pretty unconventional, but it works and I can run it for free so I'm happy. <br>
Plus I get to have all the data version controlled, which comes with other benefits <br>
like being able to have a review process for accepting changes.</p>
<div class="infobox">Keeping it simple and serving static content</div>

<h2>With Special Thanks To</h2>
<h3>Data sources such as <a href="http://www.hubeali.com" target="_blank">hubeali.com</a> and <a href="https://thaqalayn.net">thaqalayn.net</a></h3>
<p>
  I acknowledge and appreciate the work that the people behind these sites have done to bring hadith data into digital form, <br>
  and making them widely and easily accessible.
  Without these data sources it would have taken a lot more time and energy to get something tangible started, <br>
  so much so that it may have never taken off.
</p>

<h3><a href="https://www.netlify.com" target="_blank">Netlify.com</a></h3>
<p>When I was starting out I was in experiementation phase and didn't want to commit to a regular cost for hosting. <br>
Thats when I found out about netlify, which was really helpful because they had a really modern setup that allowed me to kick start the site for free! <br>
I'm really grateful that they provide this service for free, otherwise putting this live and getting the feedback <br>
 and being encouraged to work on the project more would've been much slower.</p>

<h3><a href="https://www.flaticon.com">flaticon.com</a></h3>
<p>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</p>
</div>
