<div class="narrator-hover-card"
  [style.left.px]="positionX"
  [style.top.px]="positionY">
  @if (narrator) {
    <div class="hover-card-name arabic" lang="ar" dir="rtl">{{ narrator.titles?.ar }}</div>
    @if (narrator.titles?.en) {
      <div class="hover-card-name-en">{{ narrator.titles?.en }}</div>
    }
    <div class="hover-card-stats">
      <span class="hover-card-stat">{{ narrator.narrations }} {{ 'common.hadiths' | translate }}</span>
    </div>
  } @else {
    <div class="hover-card-loading">{{ 'common.loading' | translate }}</div>
  }
  <a class="hover-card-link" [routerLink]="['/people/narrators/' + narratorId]" queryParamsHandling="preserve">
    {{ 'narrator.viewProfile' | translate }}
  </a>
</div>
