<div class="crumb-holder">
  <div>
    <a routerLink="/" queryParamsHandling="preserve">{{ 'breadcrumb.home' | translate }}</a>
    <ng-container *ngIf="(currentLang$ | async) as lang">
      <ng-container *ngIf="(crumbs$ | async) as crumbs">
        <ng-container *ngFor="let crumb of crumbs"> » <a [routerLink]="crumb.path"
            queryParamsHandling="preserve" [innerHTML]="getCrumbTitle(crumb, lang)"></a></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="(narrator$ | async) as narrator">
      <ng-container *ngIf="narrator.titles">
        » <a routerLink="/people/narrators/index" queryParamsHandling="preserve">{{ 'nav.narrators' | translate }}</a>
        » <a [routerLink]="narrator.path" queryParamsHandling="preserve" [innerHTML]="narrator.titles.ar"></a>
      </ng-container>
    </ng-container>
  </div>
</div>
