#site {
  display: flex;
  background: url(../assets/bg_small.png);
  background-position: center top;
	width: 100%;
	overflow: auto;
  min-height: 100%;
  flex-flow: column;
}

#header {
  background-image: url(../assets/banner_small.png);
  height: 100px;
	width: 100%;
}

#header div {
  padding-left: 7%;
}

.bannerTop {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  font-size: xxx-large;
  text-transform: uppercase;
  cursor: pointer;
}

a {
	text-decoration: none;
	/* color: #75A1A1; */
	color: #5F9999;
}

a:hover { text-decoration: underline; }

.nounderline:hover { text-decoration: none; }

.crumbs{
  height: 30px;
  font-size: 13px;
  color: #fff;
  background-color: rgba(251, 250, 248, 0.2);
  padding: 3px 0px 5px 5px;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mainc {
  min-width: 70%;
  max-width: 98%;
}

#footer {
  text-align: center;
	background-image: url(../assets/banner_small.png);
	background-repeat: repeat-x;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding-top: 4px;
	font-family: "C&L", Helvetica, Verdana, Arial;
	color: #fff;
	height: 30px;
}

#footer a{
	color: #fff;
	text-decoration: none;
}
