<div id="site">
  <a class="skip-link" href="#main-content">{{ 'app.skipToContent' | translate }}</a>
  <header id="header">
      <div class="bannerTop" routerLink="/">
        <img height="70%" src="../assets/just-logo_small.png" alt="Thaqalayn logo"> {{ 'app.title' | translate }}
        <app-search-bar class="header-search" (click)="$event.stopPropagation()"></app-search-bar>
        <mat-select
          class="lang-picker"
          [value]="currentLang$ | async"
          (selectionChange)="onLanguageChange($event.value)"
          (click)="$event.stopPropagation()"
          [attr.aria-label]="'language.picker' | translate">
          <mat-option *ngFor="let lang of languages" [value]="lang.code">{{ lang.name }}</mat-option>
        </mat-select>
      </div>
      <nav class="crumbs" aria-label="Breadcrumb"><app-breadcrumbs></app-breadcrumbs></nav>
  </header>
  <main id="main-content" class="main">
    <router-outlet></router-outlet>
  </main>
  <app-install-prompt></app-install-prompt>
  <footer id="footer">
    <a href="https://twitter.com/ProjThaqalayn" target="_blank">{{ 'nav.news' | translate }}</a> |
    <a routerLink="/download">{{ 'nav.download' | translate }}</a> |
    <a routerLink="/support">{{ 'nav.support' | translate }}</a> |
    <a routerLink="/about">{{ 'nav.about' | translate }}</a>
  </footer>
</div>
