<div id="site">
  <div id="header">
      <div class="bannerTop" routerLink="/"><img height="70%" src="../assets/just-logo_small.png"> Thaqalayn</div>
      <div class="crumbs"><app-breadcrumbs></app-breadcrumbs></div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    <a href="https://twitter.com/ProjThaqalayn" target="_blank">News</a> |
    <a routerLink="/download">Download</a> |
    <a routerLink="/support">Support</a> |
    <a routerLink="/about">About</a>
  </div>
</div>
