.content {
  display: flex;
	border-radius: 5px;
	color: #666;
	margin-top: 15px;
  padding: 10px;
  flex-direction: column;
}

.full-width-table {
  width: 100%;
}

.mat-table {
  background: transparent;
}

.mat-row:hover {
  color:#84B8B8;
  cursor: pointer;
}

.mat-row:nth-child(even) {
  background-color:rgba(255, 255, 255, 0.6);
}

.mat-row:nth-child(odd) {
  background-color:rgba(255, 255, 255, 0.4);
}

.mat-cell {
  padding: 10px 10px 10px 0;
  color: inherit;
}

// Not working! TODO fix
.center-header>div {
  justify-content: center;
}

.center {
  text-align: center;
}

.badge {
  width: 32px;
  margin-right: 2px;
}
