<ng-container *ngIf="(book$ | async) as book">
  <div *ngIf="book.data.titles" class="content">
    <div class="titles">
      <h2>{{book.data.titles.en}}</h2>
      <h2 class="arabic">{{book.data.titles.ar}}</h2>
    </div>
    <p *ngIf="book.data.descriptions">{{book.data.descriptions.en}}</p>
  </div>
</ng-container>
<div class="content">
  <div class="mat-elevation-z8">
    <table *ngIf="(displayedColumns$ | async) as displayedColumns" mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let row">{{row.index}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="badges">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <img *ngIf="row.verse_type === 'Meccan'" class="badge" [title]="row.verse_type" src="../assets/kaaba-mecca.svg">
          <img *ngIf="row.verse_type === 'Medinan'" class="badge" [title]="row.verse_type" src="../assets/medina.svg">
          <img *ngIf="row.sajda_type === 'recommended'" class="badge" [title]="row.sajda_type + ' sajda'" src="../assets/prostration-rec.svg">
          <img *ngIf="row.sajda_type === 'obligatory'" class="badge" [title]="row.sajda_type + ' sajda'" src="../assets/prostration.svg">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name.en">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.titles.en}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name.ar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row" class="arabic">{{row.titles.ar}}</td>
      </ng-container>

      <!-- verse_count Column -->
      <ng-container matColumnDef="verse_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Count</th>
        <td mat-cell *matCellDef="let row" class="center">{{row.verse_count}}</td>
      </ng-container>

      <!-- verse_start_index Column -->
      <ng-container matColumnDef="verse_start_index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">{{row.verse_start_index + 1}} to {{row.verse_start_index + row.verse_count}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [routerLink]="row.path" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <!-- <ol>
    <li *ngFor="let chapter of book.data.chapters">
      <a [routerLink]="'/books/' + chapter.index">{{chapter.titles.en}}</a>
    </li>
  </ol> -->
</div>
