.content {
  display: flex;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #666;
	margin-top: 15px;
  padding: 10px;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arabic {
  direction: rtl;
  text-align: justify;
}

.full-width-table {
  width: 100%;
}

.mat-table {
  background: transparent;
}

.mat-row:nth-child(even) {
  background-color:rgba(255, 255, 255, 0.6);
}

.mat-row:nth-child(odd) {
  background-color:rgba(255, 255, 255, 0.4);
}

.badge {
  width: 32px;
  margin-right: 2px;
}
