<ng-container *ngIf="(error$ | async) as error; else content">
  <app-error-display [message]="error" (retry)="onRetry()"></app-error-display>
</ng-container>

<ng-template #content>
  <app-skeleton-loader *ngIf="!(book$ | async)"
    [variant]="'chapter-list'"></app-skeleton-loader>

  <!-- Loading indicator during navigation transitions -->
  <div class="loading-bar" *ngIf="(loading$ | async) && (book$ | async)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <ng-container *ngIf="(book$ | async) as book" [ngSwitch]="book.kind">
    <ng-container *ngSwitchCase="'chapter_list'">
      <ng-container *ngIf="book.index === 'books'">
        <div *ngIf="(dailyVerse$ | async) as dv" class="daily-verse-card mat-elevation-z2">
          <div class="daily-verse-label">
            <mat-icon>auto_stories</mat-icon>
            <span>{{ 'dailyVerse.title' | translate }}</span>
          </div>
          <div class="daily-verse-arabic" lang="ar" dir="rtl">{{ dv.arabicText }}</div>
          <div class="daily-verse-translation" *ngIf="dv.translationText" [innerHTML]="dv.translationText"></div>
          <div class="daily-verse-footer">
            <span class="daily-verse-ref">{{ dv.reference }}</span>
            <a [routerLink]="dv.path" queryParamsHandling="preserve" class="daily-verse-link">
              {{ 'dailyVerse.readMore' | translate }} →
            </a>
          </div>
        </div>
        <app-book-tree></app-book-tree>
        <div class="homepage-quick-links" *ngIf="exploreCards.length > 0">
          <h2>{{ 'nav.explore' | translate }}</h2>
          <div class="quick-links">
            <a *ngFor="let card of exploreCards"
               [routerLink]="card.routerLink"
               queryParamsHandling="preserve"
               class="quick-link-card"
               [class.featured]="card.featured">
              <mat-icon>{{ card.icon }}</mat-icon>
              <span class="quick-link-title">{{ card.titleEn }}</span>
              <span class="quick-link-title-ar" lang="ar" *ngIf="card.titleAr">{{ card.titleAr }}</span>
              <span class="quick-link-author" *ngIf="card.author">{{ card.author.en }}</span>
              <span class="quick-link-desc" *ngIf="card.descKey">{{ card.descKey | translate }}</span>
            </a>
          </div>
        </div>
      </ng-container>
      <app-chapter-list *ngIf="book.index !== 'books'" [book$]="book$"></app-chapter-list>
    </ng-container>
    <app-chapter-content *ngSwitchCase="'verse_list'" [book$]="book$"></app-chapter-content>
    <app-verse-detail *ngSwitchCase="'verse_detail'" [book$]="book$"></app-verse-detail>
    <!-- <app-verse-content *ngSwitchCase="'verse_content'" [book$]="book$"></app-verse-content> -->
    <p *ngSwitchDefault>
      Not sure how to display this book part, sorry!
    </p>
  </ng-container>
</ng-template>
