<div class="content mat-elevation-z8">
  <h1>{{ 'download.title' | translate }}</h1>

  <!-- Offline Reading Section -->
  <section class="offline-section">
    <h2>{{ 'download.offlineReading' | translate }}</h2>
    <p>{{ 'download.offlineDescription' | translate }}</p>

    <div class="book-list">
      <div class="book-item" *ngFor="let bookId of availableBooks">
        <div class="book-info">
          <mat-icon *ngIf="isDownloaded(bookId)" class="downloaded-icon">cloud_done</mat-icon>
          <mat-icon *ngIf="!isDownloaded(bookId)" class="not-downloaded-icon">cloud_download</mat-icon>
          <span class="book-name">{{ formatBookName(bookId) }}</span>
        </div>
        <div class="book-actions">
          <mat-progress-spinner
            *ngIf="isDownloading(bookId)"
            diameter="24"
            mode="indeterminate">
          </mat-progress-spinner>
          <button
            *ngIf="!isDownloaded(bookId) && !isDownloading(bookId)"
            mat-raised-button
            color="primary"
            (click)="downloadBook(bookId)">
            {{ 'download.downloadForOffline' | translate }}
          </button>
          <span *ngIf="isDownloaded(bookId)" class="size-label">
            {{ formatSize(downloadedBooks[0]?.sizeBytes || 0) }}
          </span>
          <button
            *ngIf="isDownloaded(bookId)"
            mat-button
            color="warn"
            (click)="removeBook(bookId)">
            {{ 'download.remove' | translate }}
          </button>
        </div>
      </div>
    </div>

    <p *ngIf="progress.status === 'error'" class="error-text">
      {{ progress.error }}
    </p>
  </section>

  <!-- Data Packages Section -->
  <section class="data-packages">
    <h2>{{ 'download.dataPackages' | translate }}</h2>
    <p>{{ 'download.dataPackagesDescription' | translate }}</p>

    <div class="package-list">
      <div class="package-item" *ngFor="let pkg of dataPackages">
        <div class="package-info">
          <mat-icon class="package-icon">file_download</mat-icon>
          <div>
            <span class="package-name">{{ pkg.name }}</span>
            <span class="package-meta">{{ pkg.format }} &middot; {{ pkg.size }}</span>
          </div>
        </div>
        <div class="package-actions">
          <a [href]="pkg.url" target="_blank" mat-raised-button color="primary" download>
            <mat-icon>download</mat-icon> {{ 'download.downloadForOffline' | translate }}
          </a>
          <button mat-button (click)="exportAsCsv(pkg.id)" *ngIf="pkg.csvExport"
                  [disabled]="csvExporting === pkg.id">
            <mat-icon>table_chart</mat-icon>
            {{ csvExporting === pkg.id ? ('download.exporting' | translate) : ('download.exportCsv' | translate) }}
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Open Source Section -->
  <section>
    <h2>{{ 'download.openSource' | translate }}</h2>
    <p>{{ 'download.openSourceDesc' | translate }} <br>
      <a href="https://github.com/narmafraz/ThaqalaynData" target="_blank">https://github.com/narmafraz/ThaqalaynData</a>
    </p>
    <p>{{ 'download.completeDataDesc' | translate }}
      <a href="https://github.com/narmafraz/ThaqalaynData/books/complete" target="_blank">https://github.com/narmafraz/ThaqalaynData/books/complete</a>
    </p>
    <p>{{ 'download.generatorDesc' | translate }}
      <a href="https://github.com/narmafraz/ThaqalaynDataGenerator" target="_blank">https://github.com/narmafraz/ThaqalaynDataGenerator</a>
    </p>
    <p>{{ 'download.apiDocs' | translate }}
      <a href="https://github.com/narmafraz/ThaqalaynData/blob/master/API.md" target="_blank">{{ 'download.apiDocsLink' | translate }}</a>
    </p>
    <p>{{ 'download.communityDesc' | translate }}</p>
    <p>{{ 'download.growthHope' | translate }}</p>
  </section>
</div>
