/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Akzidenz";
	src: local("Akzidenz"), url("assets/fonts/akzidenz-grotesk-light.ttf");
}

@font-face {
	font-family: "Akzidenz Roman";
	src: local("Akzidenz Roman"), url("assets/fonts/akzidenz-grotesk-roman.ttf");
}

@font-face {
	font-family: "CnL";
	src: local("CnL"), url("assets/fonts/cl.ttf");
}

@font-face {
	font-family: "Akzidenz";
	font-weight: bold;
	src: local("Akzidenz"), url("assets/fonts/akzidenz-grotesk-bold.ttf");
}
@font-face {
  font-family: 'KFGQPC_Naskh';
  src: url('assets/fonts/KFC_naskh.eot');
  src: local('KFGQPC Uthman Taha Naskh'), url('assets/fonts/KFC_naskh.otf') format('opentype');
}

html, body {
  margin:0;
  padding:0;
  height: 100%;
  font-family: "Akzidenz Roman", Helvetica, Arial, sans-serif;
  line-height:1.5;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.arabic {
  direction: rtl;
  text-align: justify;
  font-family: "KFGQPC Uthman Taha Naskh", "KFGQPC_Naskh";
  font-size: 1.5em;
  font-weight: normal;
  line-height: 2.35rem;
}

.ibTxt {
  font-weight: bold;
  font-style: italic;
}

.bTxt {
  font-weight: bold;
}

.iTxt {
  font-style: italic;
}

.spacing>*+* {
  margin-top: var(--spacer, 2rem);
}
