<div class="content mat-elevation-z8">
  <h1>{{ 'support.title' | translate }}</h1>
  <p>{{ 'support.intro' | translate }}</p>
  <h2>{{ 'support.siteIssue' | translate }}</h2>
  <p>{{ 'support.siteIssueDesc' | translate }} <a href="https://github.com/narmafraz/Thaqalayn/issues" target="_blank">https://github.com/narmafraz/Thaqalayn/issues</a> <br>
     {{ 'support.createNewIssue' | translate }}</p>
  <h2>{{ 'support.dataIssue' | translate }}</h2>
  <p>{{ 'support.siteIssueDesc' | translate }} <a href="https://github.com/narmafraz/ThaqalaynDataGenerator/issues" target="_blank">https://github.com/narmafraz/ThaqalaynDataGenerator/issues</a> <br>
    {{ 'support.createNewIssue' | translate }}</p>
</div>
