<div class="textrow">
  <div>
    <p class="verseText arabic" *ngIf="verse.narrator_chain">
      <ng-container *ngFor="let npart of verse.narrator_chain.parts" [ngSwitch]="npart.kind">
        <a *ngSwitchCase="'narrator'" [routerLink]="npart.path" queryParamsHandling="preserve">{{npart.text}}</a>
        <ng-container *ngSwitchDefault>
          {{npart.text}}
        </ng-container>
      </ng-container>
    </p>
    <p *ngFor="let txt of verse.text" class="verseText arabic" dir="rtl" [innerHTML]="txt"></p>
  </div>
  <div><p *ngFor="let trt of verse.translations[(translation$ | async)]" [class]="'translation ' + (translationClass$ | async)" [innerHTML]="trt"></p></div>
</div>
